body {
    background-color:#EB92BE ;

}

h1 {

    color: #D7E9F7;
}

h3 {

    color: #2A0944;
}

hr {

    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}